body{color:#99A4B0;}
.fc00{color:#98C6EC;}
.fc01{color:#7F8994;}
.fc02,.fc02 a{color:#7F8994;}
.fc03,.fc03 a,.fc11 a{color:#43699a;}
.fc04,.fc04 a{color:#163b6c;}
.fc05{color:#99A4B0;}
.fc06{color:#777777;}
.fc07{color:#4A4F55;}
.fc08{color:#2F3544;}
.fc09{color:#98C6EC;}
.fc10{color:#4E6070;}
.bdc0{border-color:#333333;}
.bdc1{border-color:#4E6070;}
.bdc9t{border-top-color:#02080D;}
.bdc9r{border-right-color:#02080D;}
.bdc9b{border-bottom-color:#02080D;}
.bdc9l{border-left-color:#02080D;}
.bgc0,.bgc9:hover, .bgc9.js-bgc9-hover{background-color:#111111;}
.bgc1{background-color:#02080D;}
.bgc2{background-color:#171E26;}
.bgp0{background-image:url(img/-1.gif);}
.nb-body{background-color:#000000;}
.nb-wrap{background:url(img/top.jpg) no-repeat left top;}
.nb-bar{background:#171E26;}
.nb-top .h{height:152px;}
.nb-top .t{color:#FF6C00;top:60px;left:210px;font-family:Verdana,Arial,Helvetica,sans-serif,"ו";}
.nb-top .n{font-size:30px;}
.nb-nav .h{height:31px;line-height:31px;}
.nb-nav .l{width:176px;background:url(img/menu_left.jpg) no-repeat left top;}
.nb-nav .r{width:80px;background:url(img/menu_right.jpg) no-repeat right top;}
.nb-nav .c{margin:0 80px 0 176px;background:url(img/menu_m.jpg) repeat-x left top;}
.nb-nav .i:hover{background:url(img/menu_focus2.jpg) no-repeat left top;}
.nb-nav .selected{background:url(img/menu_focus.jpg) no-repeat left top;}
.nb-nav .selected .i, .nb-nav .selected .i:hover{color:#ffffff;font-weight:bold;background:none;}
.nb-smt{display:block;background:url(img/menu_b.jpg) no-repeat left top;}
.nb-smt .h{height:11px;}
.nb-cnt .wl{display:block;width:34px;}
.nb-cnt .lg{background:url(img/mq_l_m.jpg) repeat-y left top;}
.nb-cnt .lt{height:59px;background:url(img/mq_l_top.jpg) no-repeat left top;}
.nb-cnt .wr{display:block;width:34px;}
.nb-cnt .rg{background:url(img/mq_r_m.jpg) repeat-y left top;_right:-1px;}
.nb-cnt .rt{height:59px;background:url(img/mq_r_top.jpg) no-repeat left top;_right:-1px;}
.nb-cnt .wc{margin:0 35px;}
.nb-fot{background:url(img/bottom.jpg) no-repeat left top;}
.nb-fot .h{height:80px;}
.nb-fot .k{padding-top:10px;}
.nb-mdl{border:none;margin:6px;background:#02080D url(img/bg_mk.gif) repeat-x left top;}
.nb-mdl .th{height:39px;line-height:34px;}
.nb-mdl .bh{height:15px;}
.nb-mt .tl{width:18px;background:url(img/title_1_l.jpg) no-repeat left top;}
.nb-mt .tc{margin:0 18px 0 18px;background:url(img/title_1_m.jpg) no-repeat left top;}
.nb-mt .tr{width:18px;background:url(img/title_1_r.jpg) no-repeat left top;}
.nb-mt .tm{right:15px;}
.nb-mc .cl{width:5px;background:url(img/title_3_l.jpg) repeat-y left top;}
.nb-mc .cc{margin:0 5px;background:#02080D url(img/title_3_m.jpg) repeat-x left bottom;}
.nb-mc .cr{width:5px;background:url(img/title_3_r.jpg) repeat-y left top;}
.nb-mb{display:block;}
.nb-mb .bl{width:10px;background:url(img/title_4_l.jpg) no-repeat left top;}
.nb-mb .bc{margin:0 10px 0 10px;background:url(img/title_4_m.jpg) repeat-x left top;}
.nb-mb .br{width:10px;background:url(img/title_4_r.jpg) no-repeat left top;}
